.navbar-brand {
  font-weight: bold;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  cursor: pointer;
}

.nav-link.active {
  font-weight: bold;
}

.container-fluid {
  min-height: calc(100vh - 56px);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0px;
  padding-right: 0px;
}
