.card {
  border: none;
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.form-control {
  border-radius: 8px;
  padding: 12px;
}

.btn {
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
}

.loading-spinner {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.one-line-div {
  position: relative;
  cursor: pointer;

  & > i {
    bottom: 30%;
    right: 10px;
    position: absolute;
  }
}